{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}


<section class="container">
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password) }}

    {{ form_row(registrationForm.birthday) }}
    {{ form_row(registrationForm.phone) }}
    {{ form_row(registrationForm.gender) }}


    {{ form_row(registrationForm.isVerified) }}

    <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(registrationForm) }}
</section>



{% endblock %}